{% for device in devices %}

				<h3> {{ device[0] }} <small class=
				
				{% if device[1] == 'Patched' %}
					"text-success"
				{% elif device[1] == 'Testing' %}
					"text-warning"
				{% elif device[1] == 'Vulnerable' %}
					"text-danger"
				{% endif %}
				
				>{{ device[1] }}
				{% if device[1] == 'Testing' %}
					<i class="fa fa-refresh fa-spin fa-fw"></i>
				{% elif device[1] == 'Patched' %}
					<i class="fa fa-check"></i>
				{% elif device[1] == 'Vulnerable' %}
					<i class="fa fa-warning"></i>
				{% endif %}
				</small>

				</h3>

{% endfor %}